article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

.happy{
    display:none;
    padding-top: 50px;
}

img {
    width : 800px;
    margin-top: 0%;
}
#img2 {
    display: flex;
    width : 580px;
    height: 279px;
    margin-top: 0px;
    justify-content: center;
}
#img3 {
    display: flex;
    width : 580px;
    height: 279px;
    margin-top: 0px;
    justify-content: center;
}
#img4 {
    display: flex;
    width : 580px;
    height: 279px;
    margin-top: 0px;
    justify-content: center;
}

.banner-img {
    width : 300px;
}

.bbttnn {
    overflow: hidden;
}

body {
    background-color:#88b8fc
}
#main {
    background-color: #ffffff;
    border-radius: 20px;

}
#main2 {
    background-color: #ffffff;
    border-radius: 20px;
}

#main3 {
    background-color: #ffffff;
    border-radius: 20px;
}
#main4 {
    background-color: #ffffff;
    border-radius: 20px;
}

button {
    font-family: 'Gamja Flower', cursive;
    margin: 10px;
    height: 90px;
 
    
}

@font-face {
    font-family: 'Gamja Flower', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap') format('woff');
    font-weight: normal;
    font-style: normal;
   
}
@font-face {
    font-family: 'Gamja Flower', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1,h3 {
    font-family: 'Gamja Flower', cursive;
    text-align: center; 
    color: #01187b; 
    text-shadow: 2px 2px #f3c019; 
    margin: 0;
    font-weight: bold;
}
h2,li {
    font-family: 'Gamja Flower', cursive;
}
h5 {
    font-family: 'Gamja Flower', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap') format('woff');
    font-weight: normal;
    font-style: normal;
}
#logo_img {
    width: 500px;
    display : block ; 
    margin : auto;
}
.progress mt-5{
    margin: 100px auto;
    width: 500px;
    text-align: center;
}
.progress-bar {   
    background-color: #88b8fc; 
    width: 100%; 
    background-image: linear-gradient(
          45deg, #3889f9 25%, 
          transparent 25%, transparent 50%, 
          #3889f9 50%, #3889f9 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike 6s;
  }

  li{
    list-style-type: none;
  }

  
  .slides{
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    font-size: 0px;
    width: 4000px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child{
    margin-left: 10px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    margin-right: 10px;
   
  }
  
  .slides li{
    float: left; 
    
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 10px;
    size: 100px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover{
    transform: translateX(-10px);
  }
  
  .next{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover{
    transform: translateX(10px);
  }